.vscode/**
src/**
node_modules/jest/**
node_modules/jest-*/**
node_modules/@jest/**
node_modules/babel-jest/**
node_modules/babel-plugin-jest*/**
node_modules/babel-preset-jest/**
test/**
.github/**
build.js
icon.svg
image.png
package-lock.json
.gitignore
.env